@import url(http://fonts.googleapis.com/css?family=Quicksand);

h1, h2, h3{
	font-family: 'Quicksand', sans-serif;
}

h2{
	font-size:28px
}

a:link, a:visited{

}

.left{
	float:left;
}

.clear{
	clear:both;
}

.right{
	float:right;
}

.btn-group{
	margin: 25px 0 0 0;
	float:right;
}

.navbar{
	border-radius:0;
	width:100%;
	position:fixed;
	z-index:1000;
	border-bottom:1px solid #d2850b;
}

.navbar-right{
	margin-right:20px;
	padding-right:20px;
}

.container-fluid{
	height:100%;
}

.sidebar{
	position:fixed;
	top:40px;
    left: 0;
	bottom:0;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    background-color: #ECF0F1;
    border-right: 1px solid #eee;
	height:100%;
}

.sidebar ul{
	list-style-type:none;
	margin:0;
	padding:0;
}

#profile_photo{
	max-width:200px;
	width:100%;
	border-color:#2C3E50;
}
	

.main{
	padding-left:40px;
	top:60px;
}

.photo{
	float:left;
	width:50px;
	height:50px;
	margin-right:10px;
}

.panel-heading h1{
	font-size:1em;
}

.challenge .panel-body{
	background-color: #f5f5f5;
}

#quests{
	display:flex;
	justify-content:space-around;
	list-style-type:none;
	padding:auto 5px;
	position:relative;
	top:10px;
}

#quests li{
	float:left;
	max-width:150px;
	margin: auto 10px;
	font-size:2em;
}

#quests li:first-child, #quests li:last-child{
	margin:auto 0;
}

.panel-heading h2{
	font-size:1.4vw;
	text-align:center;
	margin:0;
}

td .glyphicon {
	margin-left:15px;
}

.glyphicon-arrow-up{
	color:#13987e;
}

.glyphicon-arrow-down{
	color: #df2e1b;
}

.glyphicon-resize-horizontal{
	color:#333;
}

#map h1{
	text-align:center;
	width:100%;
	padding:5px 30px;
	border-bottom:1px solid #2c3e50;
}

#map img{
	position:relative;
	top:-120px;
}

#tooltip{
	position:absolute;
	top:340px;
	left:320px;
	width:50px;
	height:50px;
}

.modal-body img{
	max-width:150px;
	max-height:150px;
	margin-top:120px;
	margin-right:20px;
}

.modal-footer{
	height:85px;
}

footer{
	display:block;
	height:60px;
	clear:both;
	position:relative;
	top:20px;
	border-top:1px solid #ddd;
	padding:10px 30px;
}

footer ul{
	list-style-type:none;
}

footer ul li{
	float:right;
	padding-left:10px;
}